<div class="abc">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">{{testData?.name}}</th>
        </tr>
      </thead>
      <tbody>
          <tr>
              <td>
                  <b>{{testData?.questions[i].questionText}}</b>
                  <br>
                  <br>
                  <form [formGroup]="questionForm">
                  <div *ngFor="let option of testData?.questions[i].options; let index = index"> 
                      <input type="radio" id="index" formControlName="ans" id="testData.questions[i].questionText" [value]="index">
                      <label style="margin-left: 10px;">{{option}}</label>
                  </div>
  
                  <button class="btn" (click)="i=i-1" [disabled]="i==0">Prev</button>
                  <button class="btn" (click)="log()" [hidden]="i==6">Next</button>
                  <button class="btn" (click)="finishTest()" [hidden]="i!=6">Finish</button>
              </form>
              </td>
          </tr>
      </tbody>
    </table>
  </div>
  